language: ruby
script: bundle exec rake spec

rvm:
  - 2.4
  - 2.5
  - 2.6
  - 3.0.0
  
os:
  - linux
  - osx

# We can use this matrix to pick supported versions
# https://repology.org/project/rocksdb/versions
jobs:
  include:
    - os: linux
      env: ROCKSDB_VERSION=6.3.6
    - os: linux
      env: ROCKSDB_VERSION=5.17.2
    - os: linux
      env: ROCKSDB_VERSION=4.5.1
    - os: osx
      env: ROCKSDB_VERSION=5.18.3 ROCKSDB_VERSION_COMMIT=d38e4b445ea1525fba69b1d7b88dc63e9faaa21b
    - os: osx
      env: ROCKSDB_VERSION=6.1.2 ROCKSDB_VERSION_COMMIT=6e35266c1f6b7bab9ed4371e5cf9f1cfca0566b7

cache:
  ccache: true
  bundler: true
  directories:
    - /home/travis/.ccache

addons:
  apt:
    sources:
      - sourceline: 'ppa:ubuntu-toolchain-r/test'
    packages:
      - gdb
      - gcc-8
      - g++-8
      - libbz2-dev
      - zlib1g-dev
      - libgflags-dev
      - libsnappy-dev

before_script:
  # enable core dumps
  - ulimit -c unlimited -S

before_install:
  - gem install bundler

install:
  - export ROCKSDB_FOLDER=/tmp/rocksdb/
  - export ROCKSDB_RUBY_BUILD_PARAMS="--with-rocksdb-dir=$ROCKSDB_FOLDER --with-rocksdb-lib=$ROCKSDB_FOLDER"
  - ./.travis/install.sh

after_failure:
 - ./.travis/after_failure.sh
